[Unit]
Description=Radha ERP Services
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/radha/radha-erp
ExecStart=/opt/radha/radha-erp/start_services.sh
Restart=always

[Install]
WantedBy=multi-user.target
