[Unit]
Description=Radha ERP Services
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/radha/radha-erp
EnvironmentFile=/opt/radha/radha-erp/.env
ExecStart=/opt/radha/radha-erp/start_services_prod.sh
Restart=always

[Install]
WantedBy=multi-user.target
