# Marketing Digital IA backend environment variables
DATABASE_URL=postgresql://radha_admin:senha@localhost:5432/producao
DATABASE_SCHEMA=marketing
SECRET_KEY=radha-super-secreto
RADHA_DATA_DIR=radha-arquivos
OBJECT_STORAGE_ENDPOINT=https://nyc3.digitaloceanspaces.com
OBJECT_STORAGE_ACCESS_KEY=DO801RV.......
OBJECT_STORAGE_SECRET_KEY=0D4o8nUESJUP0X......
OBJECT_STORAGE_BUCKET=radha-arquivos
OBJECT_STORAGE_REGION=nyc3
OBJECT_STORAGE_PREFIX=marketing/

OPENAI_API_KEY=sk-proj-m717Z-WRl....
OPENAI_API_BASE=https://api.openai.com/v1
# Configurações de integração com RD Station Marketing
RDSTATION_CLIENT_ID=a8e44616-6cbd-45cd-83e2-daf4460xxxxx
RDSTATION_CLIENT_SECRET=48fd7855081f45f1b79125a7dxxxxx
RDSTATION_REDIRECT_URI=https://erp.radhadigital.com.br/marketing-ia/rd/callback
RDSTATION_ACCESS_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJodHRwczovL2FwaS5yZC5zZXJ2aWNlcyIsInN1YiI6Ikdlb3p0NHY3dWVGYlZmTGlYNEh0cm93U1ZPWnA4VlRkNE9JY3dYRDFCbE1AY2xpZW50cyIsImF1ZCI6Imh0dHBzOi8vYXBwLnJkc3RhdGlvbi5jb20uYnIvYXBpL3YyLyIsImFwcF9uYW1lIjoiUmFkaGEgRVJQIiwiZXhwIjoxNzUyODU4OTQzLCJpYXQiOjE3NTI3NzI1NDMsInNjb3BlIjoiIn0.bjFUZ55r8bLHipafVcuj8cuDdGYxi1G1viDydr6PEptViL3ufCuvfyQ_vl3gEzoTyxdlSAtym-Kur2dnFRAnPSV-H-MPiNDNWQctMz9ALLgpYgcNl1zMFH9Tz5Cp8iEcgoYTna_3jGlz39aZd2M__roQ0Q2H8EfmUHiqRKlxJGx3G2hq5_VL_b69lPvQQbUZJxqN8DcyJGXF2frherCgJUbGs1vkdiXmAmuIwFL4_IAOJIwZyTXeOfKsX21Dak5lu8Q1r8cd_1g6KxxxxxxxxxxcfXb3GAH5O3SRpFvLH6LzCSgBlc77RmbKTQ6eiTmA_q0ZN13VpTarA6W_nBqzNg
RDSTATION_REFRESH_TOKEN=q5Q6ur5umKFLnw3IW9xxxxx4ImO0nApuYiDEr-C7Gac
RDSTATION_TOKEN_TYPE=Bearer
RDSTATION_EXPIRES_IN=90
